.cart-item-table {
  width: 100%;
}
.cart-item-table td {
  border-top: 0.15rem solid #9696965e;
  padding: 28px 0px;
}

.cart-item-table thead {
  text-align: center;
  color: rgb(58, 58, 58);
}
.cart-item-table thead th {
  padding: 20px 0px;
}
.cart-item-table tbody {
  color: #2335a4;
  text-align: center;
}

.cart-item-table {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(221, 221, 221);
}

/* .cart-item-table tbody tr:hover {
  background-color: #18202e;
  cursor: pointer;
  transition: 0.2s ease-in;
  color: white;
} */
.cart-img {
  max-width: 100px;
}
.item-cart-info {
  display: flex;
}
.item-cart-description {
  margin: auto 30px;
  text-align: left;
}
.item-cart-description h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0%;
}
.item-cart-description p {
  margin: auto;
  font-size: 15px;
  color: #18202e;
}

.item-quantity {
  display: flex;
  width: fit-content;
  margin: auto;
}
.item-quantity p {
  border: #9e9e9e8a solid 0.1rem;
  padding: 10px 20px;
  margin: auto;
}
.item-quantity p:nth-child(1) {
  background-color: #18202e;
  color: #fff;
  cursor: pointer;
}
.item-quantity p:nth-child(3) {
  background-color: #bdbdbd4f;
  color: #fff;
  cursor: pointer;
}

.remove-item p {
  border: #18202e solid 1px;
  padding: 10px 20px;
  margin: auto;
  width: fit-content;
  cursor: pointer;
}
.remove-float {
  float: unset;
  margin: 0%;
  margin-left: 20px;
}
